<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">
      {{ currentDate | date:'mediumDate' }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div 
      cdkDropList 
      id="mainList"
      class="list-div main-list-div" 
      (cdkDropListDropped)="onListItemReorderedEvent($event)"
      #mainList="cdkDropList"
      [cdkDropListData]="(taskList$ | async)!.listItems"
      [cdkDropListConnectedTo]="['insetList']">
      <ng-container *ngFor="let item of (taskList$ | async)!.listItems">
        <app-list-item [listItem]="item" [isEditMode]="isEditMode"></app-list-item>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
