.main-list-div {
  border: solid 1px var(--ion-color-step-300);
  border-radius: 4px;
}

.dtl-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.dtl-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
