<ion-card class="dtl-card">
  <ion-card-content class="dtl-main-content">
    <div
      cdkDropList
      id="{{ taskList().id }}"
      class="dtl-list-box-drag main-list-div"
      (cdkDropListDropped)="onItemDropped($event)"
      [cdkDropListData]="taskList().tasks"
      [cdkDropListConnectedTo]="connectedLists"
      [cdkDropListEnterPredicate]="allowDropPredicate"
    >
      <ng-container *ngIf="taskList().tasks.length > 0">
        <ng-container *ngFor="let task of taskList().tasks">
          <app-daily-task-list-list-item
            [task]="task"
          ></app-daily-task-list-list-item>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="taskList().tasks.length === 0">
        <div class="ion-text-center ion-padding">
          <ion-text>
            Your daily task list is empty. Create a task below to start!
          </ion-text>
        </div>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
