<div class="main-div">
  <div class="controls-box">
    <h3 class="modal-header">Edit Task</h3>
    <ion-item class="input-item-box">
      <ion-input
        labelPlacement="floating"
        label="Name"
        placeholder="New Task Name"
        inputmode="text"
        (ionInput)="setName($any($event))"
        [value]="taskName"
      ></ion-input>
    </ion-item>
    <ion-item class="input-item-box priority-select-box">
      <ion-select
        label="Priority"
        labelPlacement="floating"
        placeholder="Select Priority"
        [value]="taskPriority"
        (ionChange)="onPrioritySelected($event)"
      >
        <ion-select-option value="0">Low</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="2">High</ion-select-option>
        <ion-select-option value="3">Urgent</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="delete-button-box">
      <ion-button
        color="danger"
        fill="clear"
        shape="round"
        id="present-delete-confirmation-popup"
      >
      <ion-icon slot="start" name="trash"></ion-icon>
        Delete Task
      </ion-button>
      <ion-alert
        trigger="present-delete-confirmation-popup"
        header="{{ confirmationPopupHeader }}"
        [buttons]="confirmationPopupButtons"
        (didDismiss)="onDeletePopupDismissed($event)"
      ></ion-alert>
    </div>
    <div class="button-box">
      <ion-button
        class="button"
        (click)="saveClicked()"
        color="primary"
        fill="solid"
        shape="round">
        Save
      </ion-button>
      <ion-button
        class="button"
        (click)="cancelClicked()"
        color="danger"
        shape="round"
        fill="clear">
        Cancel
      </ion-button>
    </div>
  </div>
</div>