<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancelClicked()" color="danger">Cancel</ion-button>
    </ion-buttons>
    <ion-title> Edit Task </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmClicked()" color="primary"
        >Confirm</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <ion-item class="ion-padding">
    <ion-input
      color="primary"
      labelPlacement="stacked"
      label="Task name"
      placeholder="Task Name"
      inputmode="text"
      fill="solid"
      value="{{ listItem.name }}"
      (ionInput)="setName($any($event))"
    ></ion-input>
  </ion-item>

  <!-- Due Date Input Date Picker -->
  <!-- Commented out until due date functionality is implemented -->

  <!-- <ion-item class="ion-padding">
    <ion-label position="stacked">Due Date</ion-label>
    <ion-input value="{{ listItem.dueDate | date: 'dd MMM yyyy' }}" id="date"></ion-input>
    <ion-popover trigger="date" >
        <ng-template>
            <ion-datetime presentation="datetime" [(ngModel)]="listItem.dueDate" locale="en-US"></ion-datetime>
        </ng-template>
    </ion-popover>
  </ion-item> -->

  <ion-item class="ion-padding">
    <ion-input
      color="primary"
      labelPlacement="stacked"
      label="Created By"
      readonly="true"
      value="{{ listItem.createdByUserId }}"
    ></ion-input>
  </ion-item>
  <!-- TODO: FIx spacing issue between associated users -->
  <ng-container *ngIf="listItem.associatedUserIds">
    <ion-item class="ion-padding">
      <ion-input
        color="primary"
        labelPlacement="stacked"
        label="Associated With"
        readonly="true"
        value="{{ listItem.associatedUserIds }}"
      ></ion-input>
    </ion-item>
  </ng-container>
</ion-content>
