.dtl-item-chip {
  margin-left: auto;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  &.low {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
  }
  &.medium {
    color: var(--ion-color-tertiary-contrast);
    background-color: var(--ion-color-tertiary);
  }
  &.high {
    color: var(--ion-color-warning-contrast);
    background-color: var(--ion-color-warning-shade);
  }
  &.urgent {
    color: var(--ion-color-danger-contrast);
    background-color: var(--ion-color-danger);
  }
}

.dtl-item-chip.completed {
  opacity: 0.6;
  color: var(--ion-color-light);
  background: var(--ion-color-light-contrast);
}