<ion-card>
  <ion-card-content class ="daily-task-list-card">
    <div 
      cdkDropList
      id="{{taskList.id}}"
      class="list-div main-list-div" 
      (cdkDropListDropped)="onItemDropped($event)"
      [cdkDropListData]="(taskList$ | async)!.listItems"
      [cdkDropListConnectedTo]="connectedLists"
      [cdkDropListEnterPredicate]="allowDropPredicate"
    >
      <ng-container *ngIf="taskList.listItems.length > 0">
        <ng-container *ngFor="let item of taskList.listItems">
          <daily-task-list-list-item 
            [listItem]="item" 
            [isEditMode]="isEditMode"
          ></daily-task-list-list-item>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="taskList.listItems.length === 0">
        <div class="ion-text-center ion-padding">
          <ion-text>Your daily task list is empty. Create a task below to start!</ion-text>
        </div>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
