<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">
      {{ currentDate | date:'mediumDate' }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class ="daily-task-list-card">
    <div 
      cdkDropList
      id="{{taskList.id}}"
      class="list-div main-list-div" 
      (cdkDropListDropped)="onItemDropped($event)"
      [cdkDropListData]="(taskList$ | async)!.listItems"
      [cdkDropListConnectedTo]="connectedLists"
      [cdkDropListEnterPredicate]="allowDropPredicate"
    >
      <ng-container *ngFor="let item of taskList.listItems">
        <app-list-item [listItem]="item" [isEditMode]="isEditMode"></app-list-item>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
