.main-list-div {
  border: solid 1px var(--ion-color-step-300);
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.daily-task-list-card {
  display: flex;
  justify-content: center;
}