<ng-container *ngIf="isList(listItem())">
  <app-daily-task-list-inset-list
    [listItemId]="listItem().id"
    (listItemClicked)="onListItemClickedEvent()"
  ></app-daily-task-list-inset-list>
</ng-container>
<ng-container *ngIf="!isList(listItem())">
  <div
    cdkDrag
    [cdkDragData]="listItem()"
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragReleased($event)"
    class="dtl-list-box"
    #listItemContainer
  >
    <div class="dtl-list-clickable-box" (click)="onListItemClickedEvent()">
      <ion-checkbox
        class="dtl-list-checkbox"
        justify="start"
        labelPlacement="end"
        [checked]="isListItemCompleted()"
      >
      </ion-checkbox>
      <p class="dtl-item-name">{{ listItem().name }}</p>
    </div>
    <ion-icon
      class="dtl-list-icons dtl-edit-icon"
      name="ellipsis-vertical-outline"
      (click)="itemEditClicked()"
    ></ion-icon>
  </div>
</ng-container>
