<!-- <ng-container *ngIf="isList(listItem())">
  <app-daily-task-list-inset-list
    [listItemId]="listItem().id"
    (listItemClicked)="onListItemClickedEvent()"
  ></app-daily-task-list-inset-list>
</ng-container> -->
<ng-container>
  <div
    cdkDrag
    [cdkDragData]="task"
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragReleased($event)"
    class="dtl-list-box"
    #listItemContainer
    [class.completed]="isListItemCompleted()"
  >
    <div class="dtl-list-clickable-box" (click)="onListItemClickedEvent()">
      <ion-checkbox
        class="dtl-list-checkbox"
        justify="start"
        labelPlacement="end"
        [checked]="isListItemCompleted()"
        [disabled]="isListItemCompleted()"
      >
      </ion-checkbox>
      <p class="dtl-item-name" [class.completed]="isListItemCompleted()">{{ task.name }}</p>
      <div *ngIf="shouldShowPriorityChip()" class="chip-box">
        <dtl-chip [priority]="task.priority" [completed]="task.completed"></dtl-chip>
      </div>
    </div>
    <ion-icon
      class="dtl-list-icons dtl-edit-icon"
      name="ellipsis-vertical-outline"
      (click)="itemEditClicked()"
    ></ion-icon>
  </div>
</ng-container>
