.dtl-item-name {
  color: var(--ion-text-color);
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit-icon {
  margin-left: auto;
  margin-right: 10px;
  padding-left: 10px;
  flex-shrink: 0;
}
