<ng-container *ngIf="isList(listItem)">
  <app-daily-task-list-inset-list
    [taskList]="listItem"
    (listItemClicked)="onListItemClickedEvent(listItem)"
  ></app-daily-task-list-inset-list>
</ng-container>
<ng-container *ngIf="!isList(listItem)">
  <div
    cdkDrag
    [cdkDragData]="listItem"
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragReleased($event)"
    class="list-box list-item-container"
    #listItemContainer
  >
    <div class="list-item-row">
      <ng-container>
        <div class="dtl-list-checkbox-row">
          <div class="tasklist-item-box list-item-row">
            <ion-checkbox
              class="list-checkbox"
              justify="start"
              labelPlacement="end"
              [checked]="listItem.completed"
              (ionChange)="onListItemClickedEvent(listItem)"
            >
              {{ listItem.name }}
            </ion-checkbox>
            <div
              class="item-edit-icon-box"
              slot="end"
              (click)="itemEditClicked()"
            >
              <ion-icon class="list-icons" name="ellipsis-vertical-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
