<app-page-header [title]="title"></app-page-header>
<ion-content>
  <div class="ion-padding lp-header-container">
    <ion-searchbar color="light"></ion-searchbar>
  </div>
  <ng-container *ngFor="let taskList of listsList">
    <lp-list-anchor [taskList]="taskList"></lp-list-anchor>
  </ng-container>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onNewListClicked()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>