<div
  cdkDrag
  class="dtl-list-box inset-list-header"
  [cdkDragData]="taskList"
  [cdkDragDisabled]="dragDisabled"
>
  <div
    class="dtl-list-clickable-box"
    (click)="onListClicked(taskList.isCollapsed)"
  >
    <ion-icon
      class="dtl-list-icons chevron-icon"
      name="chevron-down-outline"
      *ngIf="taskList.isCollapsed"
    ></ion-icon>
    <ion-icon
      class="dtl-list-icons chevron-icon"
      name="chevron-up-outline"
      *ngIf="!taskList.isCollapsed"
    ></ion-icon>
    <p class="dtl-item-name">{{ taskList.name }}</p>
  </div>
  <p>{{ completedTaskCount }}/{{ taskList.listItems.length }}</p>
  <ion-icon
    class="dtl-list-icons dtl-edit-icon"
    name="ellipsis-vertical-outline"
    (click)="itemEditClicked()"
  ></ion-icon>
</div>
<div
  cdkDropList
  id="{{ taskList.id }}"
  class="dtl-list-box-drag inset-list-box"
  *ngIf="!taskList.isCollapsed"
  (cdkDropListDropped)="onItemDropped($event)"
  [cdkDropListData]="taskList.listItems"
  [cdkDropListConnectedTo]="connectedLists"
  [cdkDropListEnterPredicate]="allowDropPredicate"
>
  <div
    cdkDrag
    *ngFor="let item of taskList.listItems; index as i"
    class="dtl-list-box inset-list-item"
    [cdkDragData]="item"
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragReleased($event)"
    id="{{ item.id }}"
  >
    <div class="dtl-list-clickable-box" (click)="listItemClickedEvent(item)">
      <ion-checkbox
        class="dtl-list-checkbox"
        justify="start"
        labelPlacement="end"
        [checked]="item.completed"
      ></ion-checkbox>
      <p class="dtl-item-name">{{ item.name }}</p>
    </div>
    <ion-icon
      class="dtl-list-icons dtl-edit-icon"
      name="ellipsis-vertical-outline"
      (click)="itemEditClicked(item)"
    ></ion-icon>
  </div>
</div>
