.inset-list-box {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  background: var(--ion-color-step-50);
}

.inset-list-item {
  padding-left: 25px;
}

.chevron-icon {
  padding-left: 10px;
  padding-right: 15px;
}

.dtl-item-name {
  color: var(--ion-text-color);
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapsible-content {
  max-height: 1000px; // Large enough for your content
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.collapsible-content.collapsed {
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
