.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.welcome-header {
  margin-bottom: 50px;
}

.button {
  width: 50%;
  max-width: 300px;
}

.habitly-icon {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
  max-width: 300px;
}

.light-mode-icon {
  display: block;
}
.dark-mode-icon {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-icon {
    display: none;
  }
  .dark-mode-icon {
    display: block;
  }
}