.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.welcome-header {
  margin-bottom: 50px;
}

.button {
  width: 50%;
  max-width: 300px;
}

.modal {
  height: 100%;
}