<ion-content>
  <div class="main-div" *ngIf="!shouldShowLogin && !shouldShowSignup" @fadeInOut>
    <img src="..\..\assets/icon/habitly-full-logo.svg" alt="Habitly Light Icon" class="habitly-icon light-mode-icon" />
    <img src="..\..\assets/icon/habitly-full-logo-dark.svg" alt="Habitly Dark Icon" class="habitly-icon dark-mode-icon" />
    <ion-button
      class="button"
      color="primary"
      fill="solid"
      expand="block"
      shape="round"
      (click)="openLoginModal()"
    >
      Login
    </ion-button>
    <ion-button
      color="primary"
      fill="clear"
      shape="round"
      (click)="openSignupModal()"
    >
      Sign up
    </ion-button>
  </div>
  <div class="modal" *ngIf="shouldShowLogin" @fadeInOut>
    <app-login-modal (loginSuccess)="onLoginSuccess()" (canceled)="onCanceled()"></app-login-modal>
  </div>
  <div class="modal" *ngIf="shouldShowSignup" @fadeInOut>
    <app-create-user-modal (signupSuccess)="onSignupSuccess()" (canceled)="onCanceled()"></app-create-user-modal>
  </div>
</ion-content>
