<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancelClicked()" color="danger">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveClicked()" color="primary">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <ion-item class="ion-padding">
    <ion-input
      color="primary"
      labelPlacement="stacked"
      label="Task name"
      placeholder="New Task Name"
      inputmode="text"
      fill="solid"
      (ionInput)="setName($any($event))"
    ></ion-input>
  </ion-item>
</ion-content>
