<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancelClicked()" color="danger">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      Edit Task
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmClicked()" color="primary">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <ion-text>Test Edit Task Modal</ion-text>
</ion-content>