<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancelClicked()" color="danger">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      Edit Task
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmClicked()" color="primary">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Task name" [(ngModel)]="listItem.name" placeholder="Task Name"></ion-input>
  </ion-item>
</ion-content>