<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">{{ currentDate | date:'mediumDate' }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-daily-task-list [taskList$]="dailyTaskListStateFacade.dailyTaskList$" [isEditMode]="isEditMode"></app-daily-task-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="onEditFabClicked()" >
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
    </ion-fab-list>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onNewTaskClicked()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" *ngIf="isEditMode" id="delete-can"
    cdkDropList (cdkDropListDropped)="onItemDropped($any($event))">
    <ion-fab-button color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>