<div class="main-div">
  <div class="icon-div">
    <img src="..\..\assets/icon/habitly-full-logo.svg" alt="Habitly Light Icon" class="habitly-icon light-mode-icon" />
    <img src="..\..\assets/icon/habitly-full-logo-dark.svg" alt="Habitly Dark Icon" class="habitly-icon dark-mode-icon" />
  </div>
  <div class="login-input-box">
  <h3 class="modal-header">Login</h3>
  <ion-item class="input-item-box">
    <ion-input
      label="Email"
      labelPlacement="floating"
      (ionInput)="setEmail($any($event))"
    ></ion-input>
  </ion-item>
  <ion-item class="input-item-box">
    <ion-input
      label="Password"
      labelPlacement="floating"
      type="password"
      (ionInput)="setPassword($any($event))"
    ></ion-input>
  </ion-item>
  <ion-button
    class="login-button"
    color="primary"
    fill="solid"
    shape="round"
    (click)="loginClicked()"
  >
    Login
  </ion-button>
</div>
</div>
