/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.ion-app-host {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// Daily Task List global styles
.dtl-list-box {
  width: 100%;
  min-height: 70px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px var(--ion-border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.dtl-list-checkbox {
  padding-left: 10px;
  padding-right: 15px;
}

.dtl-list-icons {
  color: var(--ion-text-color);
  height: 20px;
  width: 20px;
}

.dtl-edit-icon {
  margin-left: auto;
  margin-right: 10px;
  padding-left: 10px;
  flex-shrink: 0;
}

.dtl-list-clickable-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

// Daily Task List drag and drop
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: var(--ion-card-background);
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic bezier(0, 0, 0.2, 1);
}

.dtl-list-box-drag.cdk-drop-list-dragging
  .dtl-list-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Login modal

.login-modal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-modal-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px
}

.toast-content {
  text-align: center;
}

.modal-main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10vh;
}

.login-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 80%;
  background: var(--ion-card-background);
  border: 2px solid var(--ion-border-color);
  border-radius: 20px;
}

.input-item-box {
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}

.modal-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-password-text {
  padding-top: 5px;
  padding-bottom: 15px;
}

.habitly-icon {
  display: block;
  margin: 1.5rem auto;
  width: 50%;
  max-width: 300px;
}

.light-mode-icon {
  display: block;
}
.dark-mode-icon {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-icon {
    display: none;
  }
  .dark-mode-icon {
    display: block;
  }
}