/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// .list-div {
//   width: 500px;
//   max-width: 100%;
//   min-height: 60px;
//   display: block;
//   background: white;
//   overflow: hidden;
//   background: var(--ion-card-background);
// }

.list-box {
  width: 100%;
  min-height: 70px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px 10px 10px;
  border-bottom: solid 1px var(--ion-color-step-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

.drag-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.list-checkbox {
  padding-left: 10px;
  padding-right: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: var(--ion-card-background);
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic bezier(0, 0, 0.2, 1);
}

.list-div.cdk-drop-list-dragging .list-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-icons {
  color: var(--ion-text-color);
  height: 20px;
  width: 20px;
}

ion-checkbox {
  color: var(--ion-text-color);
}

.list-disabled-checkbox {
  pointer-events: none;
}

.new-task-input-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}

.new-task-input-box-inset {
  padding-left: 20px;
}

button.alert-button.alert-button-delete {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
}

button.alert-button.alert-button-save {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
